footer {
  width: var(--wfull);

  position: fixed;
  bottom: 0;


    display: flex;
    flex-direction: column;
    align-items: center;

    padding: var(--p1);

    background-color: var(--red-2);

    p {
      text-align: center;
      span {
        font-weight: var(--fwb);
      }
    }

    p, span {
      font-size: var(--f2);
    }
}

