header {
  section {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: var(--p18) var(--p16) var(--p20) var(--p16);

    background: linear-gradient(var(--green-0), var(--green-2) 90%);

    h1 {
      font-size: var(--f18);

      background: linear-gradient(170deg, var(--red-4), var(--red-0));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;

      margin-bottom: var(--m10);
    }

    p {
      margin-bottom: var(--m14);
    }

    p,
    span {
      color: var(--color-white);

      text-align: center;
    }

    app-button {
      margin-bottom: var(--m13);
    }

    article {
      ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        gap: var(--g20);

        li {
          display: flex;
          align-items: center;
          gap: var(--g10);
        }
      }
    }
  }
}
