main {
  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
      margin: var(--m7) 0;
    }

    #artBig {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      gap: var(--g20);



      article {
        display: flex;
        flex-direction: column;
        align-items: start;

        border-radius: var(--bdr5);

        width: var(--w22);  

        padding: var(--p10);
        gap: var(--g15);

        background-color: var(--green-1);
        color: var(--color-white);

        .divPage{
          display:  flex;
          justify-content: space-between;

          gap: var(--g12);
        }

        

        ul {
          display: flex;
          flex-direction: column;
          align-items: start;
          
          gap: var(--g18);



          li {
            display: flex;
            align-items: center;
            justify-content: space-between;

            width: var(--w20);  

            gap: var(--g10);
          }
        }
      }

    
    }
  }
}


.btnDeA {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: var(--g10);
}