:root {
  --color-primary: #007bff;
  --color-secondary: #6c757d;
  --color-success: #28a745;
  --color-info: #17a2b8;
  --color-warning: #ffc107;
  --color-danger: #dc3545;
  --color-light: #f8f9fa;
  --color-dark: #343a40;
  --color-white: #f9f9f9;
  --color-black: #000;

  --gray-0: #f8f9fa;
  --gray-1: #e9ecef;
  --gray-2: #dcdcdc;

  --green-0: #004628;
  --green-1: #266237;
  --green-2: #378656;

  --btn-normal: hsl(155, 32%, 34%);
  --btn-hover: hsl(155, 32%, 44%);

  --red-0: hsl(1, 71%, 46%);
  --red-1: hsl(31, 71%, 46%);
  --red-2: hsl(41, 91%, 46%);
  --red-3: hsl(51, 100%, 46%);
  --red-4: hsl(71, 100%, 66%);

  --p: 2px;
  --p1: 4px;
  --p2: 6px;
  --p3: 8px;
  --p4: 10px;
  --p5: 12px;
  --p6: 14px;
  --p7: 16px;
  --p8: 18px;
  --p9: 20px;
  --p10: 22px;
  --p11: 30px;
  --p12: 38px;
  --p13: 46px;
  --p14: 54px;
  --p15: 62px;
  --p16: 70px;
  --p17: 78px;
  --p18: 86px;
  --p19: 94px;
  --p20: 102px;

  --m: 2px;
  --m1: 4px;
  --m2: 6px;
  --m3: 8px;
  --m4: 10px;
  --m5: 12px;
  --m6: 14px;
  --m7: 16px;
  --m8: 18px;
  --m9: 20px;
  --m10: 22px;
  --m11: 30px;
  --m12: 38px;
  --m13: 46px;
  --m14: 54px;
  --m15: 62px;
  --m16: 70px;
  --m17: 78px;
  --m18: 86px;
  --m19: 94px;
  --m20: 102px;

  --hs: 1px;
  --hs1: 2px;
  --hs2: 3px;
  --hs3: 4px;
  --hs4: 5px;
  --h: 8px;
  --h1: 16px;
  --h2: 24px;
  --h3: 32px;
  --h4: 40px;
  --h5: 48px;
  --h6: 56px;
  --h7: 64px;
  --h8: 72px;
  --h9: 80px;
  --h10: 96px;
  --h11: 112px;
  --h12: 128px;
  --h13: 144px;
  --h14: 160px;
  --h15: 176px;
  --h16: 192px;
  --h17: 208px;
  --h18: 224px;
  --h19: 240px;
  --h20: 260px;
  --h21: 280px;
  --h22: 300px;
  --h23: 320px;
  --hfull: 100%;

  --w: 8px;
  --w1: 16px;
  --w2: 24px;
  --w3: 32px;
  --w4: 40px;
  --w5: 48px;
  --w6: 56px;
  --w7: 64px;
  --w8: 72px;
  --w9: 80px;
  --w10: 96px;
  --w11: 112px;
  --w12: 128px;
  --w13: 144px;
  --w14: 160px;
  --w15: 176px;
  --w16: 192px;
  --w17: 208px;
  --w18: 224px;
  --w19: 240px;
  --w20: 260px;
  --w21: 280px;
  --w22: 300px;
  --w23: 350px;
  --w24: 400px;
  --w25: 450px;
  --w26: 500px;
  --w27: 550px;
  --w28: 600px;
  --w29: 650px;
  --w30: 700px;
  --w31: 750px;
  --w32: 800px;
  --w33: 850px;
  --w34: 900px;
  --wfull: 100%;

  --g: 0.5px;
  --g1: 1px;
  --g2: 1.5px;
  --g3: 2px;
  --g4: 2.5px;
  --g5: 3px;
  --g6: 3.5px;
  --g7: 4px;
  --g8: 4.5px;
  --g9: 5px;
  --g10: 5.5px;
  --g11: 6px;
  --g12: 8px;
  --g13: 10px;
  --g14: 12px;
  --g15: 14px;
  --g16: 16px;
  --g17: 18px;
  --g18: 20px;
  --g19: 22px;
  --g20: 24px;
  --g21: 32px;
  --g22: 40px;
  --g23: 48px;
  --g24: 56px;
  --g25: 64px;

  --f: 8px;
  --f1: 10px;
  --f2: 12px;
  --f3: 14px;
  --f4: 16px;
  --f5: 18px;
  --f6: 20px;
  --f7: 22px;
  --f8: 24px;
  --f9: 26px;
  --f10: 28px;
  --f11: 30px;
  --f12: 32px;
  --f13: 36px;
  --f14: 40px;
  --f15: 44px;
  --f16: 48px;
  --f17: 52px;
  --f18: 56px;
  --f19: 60px;
  --f20: 64px;
  --f21: 68px;
  --f22: 72px;

  --ls: 0.5px;
  --ls1: 1px;
  --ls2: 1.5px;
  --ls3: 2px;
  --ls4: 2.5px;

  --lh: 4px;
  --lh1: 6px;
  --lh2: 8px;
  --lh3: 10px;
  --lh4: 12px;
  --lh5: 14px;
  --lh6: 16px;
  --lh7: 18px;
  --lh8: 20px;
  
  --bd: 0.5px;
  --bd1: 1px;
  --bd2: 1.5px;
  --bd3: 2px;

  --bdr1: 1px;
  --bdr2: 2px;
  --bdr3: 3px;
  --bdr4: 4px;
  --bdr5: 5px;
  --bdr6: 6px;
  --bdr8: 8px;
  --bdr10: 10px;

  --fwl: 300;
  --fwr: 400;
  --fwm: 500;
  --fwsb: 600;
  --fwb: 700;
  --fwd: 900;
}
